

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
   
   
}


@font-face {
    font-family: bratsy ;
    src: url(../assets/font/bratsy_script/bratsy.otf);
  }


.modalFormContainer {

  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height:830px;
  
 
}

.modalForm {
    
    border:5px solid #c2631b ;
    width:400px;
    height:600px;
    border-radius:8%;
    background-color:#f47c20;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:100;
    transform: translate(-20px,10px);
    
    
}

.modalFormSecond {
    
    border:5px solid #c29430 ;
    width:400px;
    height:600px;
    border-radius:8%;
    background-color:#F3BB41;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:70;
    transform: translate(-20px,20px);
   
}


.modalFormThird {

    border:5px solid #0e0605 ;
    width:400px;
    height:600px;
    border-radius:8%;
    background-color:#381915 ;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:50;
    transform: translate(-40px,30px);
    
}

.reponse,.btnModal {

    /* border:1px solid #f78731 ; */
    border-radius: 10px;
    width:250px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}
p,.btnModal {
    
    font-family: bratsy;
    font-size:30px;
    color:#381915;
    cursor:pointer;
    
}
.btnModal {
    width:200px;
    height:50px;
    border:5px solid #944304 ;
    background-color:#F3BB41;
    color:#381915;
    cursor:pointer;
}

.btnModalWrapper {
    display:flex;
    align-items:flex-end;
    height:100px;
}

.divReponses {
    display:flex;
    /* align-items:center; */
    justify-content:space-evenly;
    flex-direction:column;
    height:350px;
    padding-top:15px;
    
}

h6 {
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}