/* FONTS */
@font-face {
    font-family: 'bratsy' ;
    src: url(../assets/font/bratsy_script/bratsy.otf);
}
@font-face {
font-family: 'aristaThin';
src: url(../assets/font/bratsy_script/Arista-Pro-Alternate-Light-trial.ttf);
}
@font-face {
    font-family: 'bubbleboddy';
    src: url(../assets/font/bubbleboddy_neue/bubbleboddyneue-regular\ trial.ttf);
}

/* Variables */
:root {
    /* Couleurs */
    --green: #8BC87A;
    --eggwhite: #FDF5BD;
    --yellow: #F3BB41;
    --orange: #f47c20;
    --red: #F2493E;
    --brown: #381915;
    /* Fonts */
    --bratsy: "bratsy";
    --arista: "aristaThin";
    --bubbleboddy: "bubbleboddy";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modalFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 830px;
}

.modalForm {
  border: 5px solid #c2631b;
  width: 400px;
  height: 600px;
  border-radius: 8%;
  background-color: #f47c20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  transform: translate(-20px, 10px);
}

.modalFormSecond {
  border: 5px solid #c29430;
  width: 400px;
  height: 600px;
  border-radius: 8%;
  background-color: #f3bb41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 70;
  transform: translate(-20px, 20px);
}

.modalFormThird {
  border: 5px solid #0e0605;
  width: 400px;
  height: 600px;
  border-radius: 8%;
  background-color: #381915;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 50;
  transform: translate(-40px, 30px);
}

.btnModal {
    font-family: var(--bratsy);
    font-size: 30px;
    color: #381915;
    border: 5px solid #944304;
    background-color: #f3bb41;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    cursor: pointer;
}

.divReponses {
  display: flex;
  /* align-items:center; */
  justify-content: space-evenly;
  flex-direction: column;
  height: 350px;
  padding-top: 10px;
}

.titreQuestion {
  font-size: 50px;
  font-family: var(--bratsy);
  margin-left: 12px;
  margin-right: 1px;
  text-align: left;
  justify-content: center;
}
.intituleQuestion{
    font-family: var(--arista);
    font-size: 20px;
    text-align: justify;
    margin: 0 20px 0 20px;
}
.reponseRadio{
    display: flex;
    align-items: center;
    text-align: left;
}
.intituleReponse{
    font-family: var(--arista);
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}

.btnRadio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
.btnRadio:checked {
    border: 6px solid black;
}

.glass {
  position: relative;
  background: inherit;
  overflow: hidden;
  width: 100%;
  height: 70%;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.glass:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.4);
  filter: blur(10px);
  z-index: -1;
}
